---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: "en-US" }}">
{% include head.html %}
<body >
  {% include main-menu-mobile.html %}
  
    {% include header.html headerClass='header-extra' %}

    <div class=' {{page.bodyClass}}'>
      {{content}}
    </div>
   


  {% include footer.html %}
  {% include sub-footer.html %}
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/scripts.js"></script>
  {% include google-analytics.html %}

</body>

</html>
